{% extends 'base.html' %}
{% block title %}Wordle{% endblock %}
{% block content %}
    <nav class="m-2 p-2">
        <button type="button" class="btn btn-primary px-4">
            <a href="{{ url_for('home') }}" class="link-light link-underline-opacity-0">Home</a>
        </button>
    </nav>
    <h1 class="text-center p-2">Wordle</h1>
    <div class="container my-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col border p-3 m-1"></div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}